<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="AWSEnvironmentsFile" value="aws.environments" />
    <add key="ServerIconsFile" value="aws.icons" />
    <add key="ScriptsFile" value="aws.scripts" />
    <add key="StylesFile" value="aws.css" />
  </appSettings>
</configuration>