<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log" >
  <targets>
    <target name="DocumentAWSLog" xsi:type="File"
            fileName="Document.AWS.log"
            layout="${date:format=yyyy-MM-dd HH\:mm\:ss} ${message}"
            archiveNumbering="Rolling"
            archiveAboveSize="100000"
            concurrentWrites="true"
            keepFileOpen="false"
            archiveFileName="Document.AWS-{##}.log"
            />
    <target name="DocumentAWSConnectLog" xsi:type="File"
            fileName="Document.AWS.Connect.log"
            layout="${date:format=yyyy-MM-dd HH\:mm\:ss} ${message}"
            archiveNumbering="Rolling"
            archiveAboveSize="100000"
            concurrentWrites="true"
            keepFileOpen="false"
            archiveFileName="Document.AWS.Connect-{##}.log"
            />
  </targets>
  <rules>
    <logger name="Document.AWS.Connect.*" minlevel="Debug" writeTo="DocumentAWSConnectLog" final="true"/>
    <logger name="*" minlevel="Debug" writeTo="DocumentAWSLog" final="true"/>
  </rules>
</nlog>